/* General layout styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0c2340; /* Updated background color */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Add a white background to the container */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.title {
  color: #333;
}

/* Comments Section */
.comments {
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-icon {
  font-size: 2rem;
  border-radius: 50%;
  background-color: #ccc;
  padding: 10px;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.comment-box {
  margin-bottom: 100px;
}

textarea {
  width: calc(100% - 60px); /* Adjusted width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
