<app-header></app-header>

<div class="login-container">
  <h2 class="login-title text">Login</h2>
  <form>
    <div class="mb-3">
      <label for="username" class="form-label text"> Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label text ">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary btn-login text">Login</button>
    <div class="signup-section">
      <p class="text">Don't have an account? <a href="#" class="text">Click here</a></p>
    </div>
  </form>
</div>



<app-footer></app-footer>
