/* Header styles */
.header {
  padding: 20px 0;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */
.logo {
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
}

.logo img {
  height: 150px; /* Set the desired height for the logo */
  width: auto; /* Allow the width to adjust proportionally */
  max-width: 100%; /* Ensure the logo stays within the bounds of its container */
}

/* Dropdown styles */
.right-dropdown {
  margin-right: 20px; /* Adjust as needed */
}

.right-dropdown .dropdown {
  position: relative;
  display: inline-block;
}

.right-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.right-dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.right-dropdown .dropdown:hover .dropdown-content {
  display: block;
}
