/* Header styles */
.header {
  padding: 20px 0;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 10;
}

.logo img {
  height: 150px;
  width: auto;
  max-width: 100%;
}

/* Dropdown styles */
.right-dropdown {
  margin-right: 100px;
  float: left;
}

.bi-grid-3x3-gap-fill,.bi-controller,.bi-exclamation-triangle,.bi-question-circle,.bi-telephone,.bi-house-door  {
  font-size: 2em; /* Adjust as needed */
}

.bi-grid-3x3-gap-fill{
  background-color: transparent;
}

.dropdown-toggle i.bi-grid-3x3-gap-fill {
  margin-right: 10px; /* Adjust as needed */
}

.right-dropdown .dropdown {
  display: flex;
  align-items: center;
}

.right-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.right-dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.right-dropdown .dropdown:hover .dropdown-content {
  display: block;
}

/* Ensure proper sizing for the circular profile picture icon container */
.circular-profile-icon {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the size of the bi-person-circle icon */
.bi-person-circle {
  font-size: 3em; /* Increase the font size for a larger icon */
  color: white;
}

/* Ensure the bi-person-circle icon maintains its aspect ratio */
.bi-person-circle svg {
  width: 100%; /* Set width to 100% of the parent container */
  height: auto; /* Allow the height to adjust proportionally */
}



