<header class="header">
  <div class="left-dropdown">
    <!-- Left dropdown content -->
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="#">Games</a></li>
          <li><a routerLink="#">About</a></li>
          <li><a routerLink="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="logo">
    <img src="../../../../assets/images/ConsoleConnectLogo.png" alt="Logo">
  </div>
  <div class="right-dropdown">
    <!-- Right dropdown content -->
    <div class="dropdown">
      <button class="dropbtn">Right Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Option A</a>
        <a href="#">Option B</a>
        <a href="#">Option C</a>
      </div>
    </div>
  </div>
</header>
