<header class="header">
    <!-- Logos -->
  <div class="logo">
    <img src="../../../../assets/images/ConsoleConnectLogo.png" alt="Logo">
  </div>
  <div class="right-dropdown">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-grid-3x3-gap-fill"></i>
      </button>
      <!-- Drop Down Menu -->
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink=""><i class="bi bi-house-door"></i>&nbsp;Home</a>
        <a class="dropdown-item" routerLink="MonProfile"><i class="bi bi-person"></i>&nbsp;Profile</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-controller"></i>&nbsp;Games</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-question-circle"></i>&nbsp;About</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-telephone"></i>&nbsp;Contact</a>
        <a class="dropdown-item" routerLink="**"><i class="bi bi-exclamation-triangle"></i>&nbsp;Not Found</a>
      </div>
      <!-- Circular profile picture icon -->
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink=""><i class="bi bi-house-door"></i>&nbsp;Home</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-controller"></i>&nbsp;Games</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-question-circle"></i>&nbsp;About</a>
        <a class="dropdown-item" routerLink="#"><i class="bi bi-telephone"></i>&nbsp;Contact</a>
        <a class="dropdown-item" routerLink="**"><i class="bi bi-exclamation-triangle"></i>&nbsp;Not Found</a>
      </div>
      <button class="btn btn-secondary circular-profile-icon" type="button">
        <i class="bi bi-person-circle"></i>
      </button>
      <!-- Name -->
      <div class="profile-name">
        <br>
        <span class="first-name">Prénom</span>
        <span class="last-name">Nom</span>
      </div>
    </div>
  </div>
</header>
