body {
  font-family: Arial, sans-serif;

  height: 100vh;
  overflow: hidden;

}

.gif {
  width: 800px;
  height: 800px;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}

h1 {
  color: #5790DF;
}



a {
  color: #FF7979;
  text-decoration: none;
}

a:hover {
  color: #000000;
}
