<app-header></app-header>

<!-- About page content -->
<div class="container">
  <!-- Sleepy GIF -->
  <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXZ0eTdkenJsYWp0eHd4MjRhNDFxdHl0M2wydjk3Yjc0ZG1zYTBpdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufhOydy5WbYG2c0/giphy.gif" alt="Game On GIF">

  <!-- Title -->
  <h2 class="title">ConsoleConnect 🎮</h2>

  <!-- Description -->
  <p class="description">ConsoleConnect est un réseau social dédié aux gamers passionnés de PlayStation, Xbox, Switch et PC. Les utilisateurs peuvent discuter 💬, partager des photos 📸 et échanger avec d'autres joueurs. Les administrateurs fournissent les dernières actualités de chaque console, les dates de sortie des jeux 🎮 et un TOP 5 mensuel. Il y a également des fonctionnalités pour ajouter/supprimer des amis 👫 et un mode privé 🔒. ConsoleConnect est le lieu idéal pour connecter les gamers du monde entier 🌍.</p>

  <!-- Contact info -->
  <div class="contact-info">
    <!-- Phone icon and fake number -->
    <div class="contact-item">
      <i class="bi bi-telephone"></i>
      <span class="contact-label">123-456-7890</span>
    </div>
    <!-- Email icon and fake email -->
    <div class="contact-item">
      <i class="bi bi-envelope"></i>
      <span class="contact-label">&#64;example.com</span>
    </div>
  </div>
</div>
<br/><br/>
<app-footer></app-footer>
